<header data-th-fragment="header-content" class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Dairy Farm Management</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/farms">Look all farms</a>
        <a class="py-2 d-none d-md-inline-block" href="/cows">Look all cows</a>
        <a class="py-2 d-none d-md-inline-block" href="/users">Look all users</a>
        <a class="py-2 d-none d-md-inline-block" href="#"></a>
        <a class="py-2 d-none d-md-inline-block" href="#"></a>
        <a class="py-2 d-none d-md-inline-block" href="#">
<!--            <label>-->
<!--                <select id="lang-select" class="selectpicker" onchange="if (this.value) window.location.href=this.value" data-width="fit">-->
<!--                    <option class="dropdown-item" value="?lang=en" data-content="<span class='flag-icon flag-icon-us'></span> English" selected="">English</option>-->
<!--                    <option class="dropdown-item" value="?lang=es" data-content="<span class='flag-icon flag-icon-es'></span> Español">Español</option>-->
<!--                    <option class="dropdown-item" value="?lang=it" data-content="<span class='flag-icon flag-icon-it'></span> Italiano">Italiano</option>-->
<!--                </select>-->
<!--            </label>-->
<!--            <script>-->
<!--                $('#lang-select').val($.cookie('lang')).attr('selected', true);-->
<!--            </script>-->
        </a>
    </nav>
</header>